/* Figtree */
@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree/Figtree-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree/Figtree-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree/Figtree-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Caveat';
  src: url('/fonts/caveat/Caveat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
    font-display: optional; 

}
