html{
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--color-background);
}

body * {
  font-family: inherit;
}


::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}


