/* // añadi esto para evitar un error visual que hace que cada sección al final tenga una linea blanca..  */
section {
  margin-bottom: -1px;
}

body{
  font-family: 'DM Sans', sans-serif;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.company-icon svg path {
  fill: currentColor;
}

.company-icon:hover svg path {
  fill: var(--color-primary);
}