.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 10px;
  border: 2px solid var(--color-background);
  opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent); 
}