:root {
  --color-background: #f8fef9;
  --color-text: #000000;
  --color-primary: #f63b3b;
  --color-secondary: #4c00fd;
  --color-accent: #1aff00;
  --font-heading: 'Figtree', sans-serif;
  --font-body: 'Figtree', sans-serif;
  --type-scale: 1;
}
